//retrun css setting for col in grid
@mixin col($col, $colBase: 12){
	max-width: percentage( $col * 1 / $colBase  );
	width: 100%;
	padding: 0 $gup;
} 

//for sections title
@mixin font($font, $color, $font-size, $font-weight){
	font-family: #{$font};
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: calc( #{$font-size} + #{rem(6)} ) ;
	text-transform: capitalize;
}

// some useful code
@mixin transition($param: all .3s ease){
	-webkit-transition: #{$param};
	-moz-transition: #{$param};
	-o-transition: #{$param};
	transition: #{$param};
}

