*{
	box-sizing: border-box;
	color: $gray;
	font-size: 0;
}

.flex-row{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container{
	max-width: $containerWidth;
	width: 100%;
	margin: 0 auto;
}

.row{
	width: 100%;
	@extend .flex-row;
}

.row-container{
	@extend .container;
	@extend .flex-row;
}

.col-container{
	@extend .container;
	@extend .flex-col;
}