/*--------------grid---------------*/
$gup: rem(15);
$containerWidth: rem(1200);

/*------------ colors -------------*/
$white : #ffffff; //pure white
$gray: #81868e; // text blocks and some subtitles
$gray01: #333b46; // only for titles
$gray02: #464646; // for some subtitles
$gray04: #f3f3f3; // background for portfolio
$dark: #202224; // for blend layer 
$green: #19bd9a; // green :))))))
$black: #000;


/*------------ fonts --------------*/
$font1: 'Open Sans', sans-serif;
$font2: 'Source Sans Pro', sans-serif;