.button{
	padding: rem(9) rem(24);
	text-transform: capitalize;
	font-size: rem(16);
	line-height: lh(16);
	border-radius: rem(22);
	font-family: $font1;
	font-weight: 400;
	border: rem(1) solid transparent;
	transition: all .3s ease;
	&:hover, &--active{
		border: rem(1) solid $white;
	}
}