.nav-bar{
	&__container{
		@extend .row-container;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(39);
		padding-bottom: rem(39);

	}
	&__logo-wrap{
		@include col(3);
	}
	&__logo-link{
		display: inline-block;
	}
	&__logo-src{
		width: rem(133);
		height: rem(19);
	}
	&__menu{
		@include col(9);
	}
	&__menu-wrap{
		@extend .row-container;
		justify-content: flex-end;
	}
	&__menu-item{
		margin-right: rem(5);
		&:last-child{
			margin-right: 0;
		}
	}
	&__menu-link{
		@extend .button;
		display: block;
		color: $white;
		text-decoration: none;
		&--active{
			@extend .button--active;
		}
	}
}